<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
    </head>
    <body>
        <Header>
            <Nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                    <a href="{% url 'category_list' %}">My Categories</a>
                    </li>
                    <li>
                    <a href="{% url 'create_category' %}">Create a Category</a>
                    </li>
                    <li>
                    <a href="{% url 'account_list' %}">My Accounts</a>
                    </li>
                    <li>
                    <a href="{% url 'create_account' %}">Create an Account</a>
                    </li>
                    <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                    <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                    <a href="{% url 'login' %}">Login</a>
                    </li>   
            {% endif %}
                </ul>
            </Nav>
        </Header>
        <main>
            <div>
                <h1>Create Category</h1>
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>                
            </div>
        </main>    
    </body>
</html>