<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accounts</title>
    </head>
    <body>
        <Header>
            <Nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                    <a href="{% url 'category_list' %}">My Categories</a>
                    </li>
                    <li>
                    <a href="{% url 'create_category' %}">Create a Category</a>
                    </li>
                    <li>
                    <a href="{% url 'account_list' %}">My Accounts</a>
                    </li>
                    <li>
                    <a href="{% url 'create_account' %}">Create an Account</a>
                    </li>
                    <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                    <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                    <a href="{% url 'login' %}">Login</a>
                    </li>   
            {% endif %}
                </ul>
            </Nav>
        </Header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in account_list %}
                        <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>